{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Schedule</th>
                <th>LinkInformation</th>
                <th>LinkForm</th>
                <th>Total Workers</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.startDate ? event.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.schedule }}</td>
                <td>{{ event.linkInformation }}</td>
                <td>{{ event.linkForm }}</td>
                <td>{{ event.workersNumber }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                    <a href="{{ path('app_event_report', {'id': event.id}) }}">see report</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_event_new') }}">Create new</a>
    {% endif %}

{% endblock %}
