{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1 class="  text-center mt-4" >Register</h1>
 	<div class="container col-4 mt-4 border border-4  text-center p-0 d-flex justify-content-center" >
      
    {{ form_start(registrationForm , { 'attr': {'class': 'col-8 p-0 m-0'} })  }}
   
        {{ form_row(registrationForm.username, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(registrationForm.plainPassword,{ 'attr': {'class': 'form-control'} }, {
            label: 'Password'
        }) }}
        
        {{ form_row(registrationForm.fullName ,{ 'attr': {'class': 'form-control'} }) }}
        {{ form_row(registrationForm.email ,{ 'attr': {'class': 'form-control'} }) }}
        {{ form_row(registrationForm.address ,{ 'attr': {'class': 'form-control'} }) }}
        {{ form_row(registrationForm.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(registrationForm.dni, { 'attr': {'class': 'form-control'} } ) }}
        {{ form_row(registrationForm.monthlytime ,{ 'attr': {'class': 'form-control'} }) }}
        {{ form_row(registrationForm.agreeTerms , { 'attr': {'class': 'form-control'} }) }}
        <button type="submit" class="btn btn-primary mt-2 ">Register</button>
        <a href="/login" class="btn btn-danger mt-2">Volver</a>
       
    {{ form_end(registrationForm) }}
     </div>
{% endblock %}
