{{ form_start(form) }}

<div class="form-group">
	{{ form_row(form.description, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.time, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="text-center">
	<button class="m-3 btn btn-primary btn-lg active font-italic Italica">{{ button_label|default('Establecer Trabajo') }}</button>
</div>


{{ form_end(form) }}
