{% extends 'base.html.twig' %}

{% block title %}Admin View{% endblock %}

{% block body %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <form class="mx-2 row">

        <select name="mes" class="form-control col-5">
            {% for key, mes in meses %}
                <option value="{{ key+1 }}"
                        {% if key+1 == filter_month %}
                            selected="selected"
                        {% endif %}

                >{{ mes }}</option>
            {% endfor %}
        </select>

        <select name="año" class="form-control col-5">
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>

        <input class="col-2 btn btn-info" type="submit" value="Filtrar">

    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Horas</th>
            <th scope="col">Sueldo</th>
            <th scope="col">Fecha</th>
        </tr>
        </thead>
        <tbody>
        {% for trabajador in trabajadores %}
            <tr>
                <th scope="row">{{ trabajador.fullname }}</th>
                <td>{{ trabajador.hours }}:{{ trabajador.minutes }}</td>
                <td>-</td>
                <td>{{ trabajador.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
