{% extends 'base.html.twig' %}

{% block title %}{{task.event.name}} | Tareas{% endblock %}
{% block body %}
    
    <div class="mx-5 my-5">
    <h2 class="text-center my-5 mx-5">Tareas</h2>
    <table class="table">
        <tbody>
            {# <tr>
                <th colspan="12" class="text-center" style="font-size:22pt">Tareas</th>
            </tr> #}
            <tr>
                <th class="text-center">Nombre de la tarea</th>
                <td class="text-center">{{ task.event.name }}</td>
            </tr>
            <tr>
                <th class="text-center">Fecha de inicio</th>
                <td class="text-center">{{ task.startTime ? task.startTime|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="text-center">Fecha de finalización</th>
                <td class="text-center">{{ task.endTime ? task.endTime|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            {# <tr>
                <th>Estado</th>
                <td>{{ task.state ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>State_request</th>
                <td>{{ task.stateRequest }}</td>
            </tr> #}
            <tr>
                <th class="text-center">Tiempo extra</th>
                <td class="text-center">{{ task.extraTime ? task.extraTime|date('d/m/Y H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th class="text-center">Tiempo dedicado</th>
                <td class="text-center">{{totaltime}} horas</td>
            </tr>
        </tbody>
    </table>
    </div>

            {% if task.type == 1 %}
    <h2 class="text-center my-5 mx-5">Trabajos</h2>
    <div class="container">
      <div class="row text-center d-flex justify-content-around">
        {% for job in task.jobs %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ job.description }}</h5>
              <p class="card-text">{{ job.time }} minutos</p>
            </div>
            <div class="btn-group m-auto">
              <form method="post" action="{{ path('app_job_delete', {'id': job.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres borrar el trabajo?');">
                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                  <button class="mb-2 btn btn-danger">Eliminar</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

            {# <div class="mx-5 my-5">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th colspan="12" class="text-center" style="font-size:22pt">Trabajos</th>
                    </tr>
                    <tr>
                                <th class="text-center">holA</th>
                                <td class="text-center"> minutos</td>
                            </tr>
                    {% for job in task.jobs %}
                            <tr>
                                <th class="text-center">{{ job.description }}</th>
                                <td class="text-center">{{ job.time }} minutos</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div> #}
            
                {# <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th colspan="12" class="text-center" style="font-size:22pt">Trabajos</th>
                        </tr>
                        {% for job in task.jobs %}
                            <tr>
                                <th  class="text-center">{{ job.description }}</th>
                                <td  class="text-center">{{ job.time }} minutos</td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                        
                    </tbody>
                </table> #}

    <a class="m-2 mt-5 btn btn-success font-weight-bold" href="{{ path('app_warehouse') }}"> <-- Volver al calendario</a>
{% endblock %}
