<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="{{ font_awesome }}" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <header>
                {% if app.user %}
                    <div class="mx-2 my-1 text-right">
                        <a href="{{path("app_user_profile")}}"><i class="fa-solid fa-user"></i> <b>{{ app.user.userIdentifier }}({{ app.user.dni }})</b></a>  - <a href="{{path('app_company_show', {'nif':app.user.company.nif})}}">{{app.user.company.title}}({{app.user.company.nif}})</a> <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
            </header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <ul class="navbar-nav container-fluid me-auto justify-content-around">
                {% if is_granted("ROLE_USER") %}
                    <li class="nav-item"><a class="nav-link active" href="{{path("app_task_index")}}"><i class="fas fa-tasks"></i> tasks</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{path("app_event_index")}}"> <i class="fas fa-thumbtack"></i> events</a></li>
                {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link active" href="{{path("app_user_index")}}"> <i class="fas fa-users-cog"></i> users</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{{path("app_event_category_index")}}"> <i class="fas fa-dumpster"></i> categories</a></li>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item"><a class="nav-link active" href="{{path("app_company_index")}}"><i class="fa-solid fa-building"></i> companies</a></li>
                        {% endif %}

                        <li class="nav-item"><a class="nav-link active" href="{{path("app_admin")}}"><i class="fa-solid fa-address-card"></i> ADMIN</a></li>
                    {% endif %}
                    
                </ul>
            </nav> 
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
